body{
    background-image: url("assets/background.jpg");
    font-size: 20px;

}

#banner{
    padding: 8px; margin:10px;
    display: flex;
    justify-content: center;
}
#banner-tag{
    background-color: #FF6B6B;
    height:200px; width: 20vh;
    border-radius: 1rem;
    box-shadow: 10px 10px #f15050;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 80px; font-weight: bold;
    text-align: center;
    
}
.banner-image{
    background-color: #FFA4DF;
    height:200px; width: 70vh;
    border-radius: 1rem;
    box-shadow: 10px 10px #cc5f95;

}

#navigation-bar{
    background-image: linear-gradient(to right, #c6ea8d, #fe90af);
    padding: 8px; margin:10px;
    border-radius: 1rem;
    box-shadow: 10px 10px #cc5f95;
    display: flex;
}

.navigation-bar-button{
    background-color: #FFFFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 8px; margin: 5px;
    border: solid 0cm; border-radius: 1rem;
    transition-duration: 0.4s;
}
.navigation-bar-button:hover{
    background-color:#B4AFFF;
}

#search-bar{
    margin-left: auto;
}

#content{
    display:flex;
}

#profile{
    background-color: #FFA4DF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    height: 160px; width: 160px;
    margin: 10px;
    border: solid 0cm; border-radius: 1rem;
    display: flex;
}

#profile-image{
    border-radius: 1rem;
    justify-content: center;
}

#main-content{
    background-image: linear-gradient(#ea8d8d, #a890fe);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 80vh; width: 60vh;
    padding: 8px; margin: 10px;
    border: solid 0cm; border-radius: 1rem;
    flex: 1;
}

#introduction{
    color:#FFFFFF;
    padding: 8px; margin: 1px;
    border: solid 0cm; border-radius: 1rem;

}

#side-panel{
    background-image: linear-gradient(#ea8d8d, #a890fe);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    height: 80vh; width: 240px;
    padding: 8px; margin: 10px;
    border: solid 0cm; border-radius: 1rem;
}
